.container {
    text-align: center;
    margin-top: 50px;
    position: relative;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-width: 400px;
  margin: auto;
}
.input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button {
  padding: 0.5rem;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}
.button:hover {
  background-color: #0056b3; /* Color when hovered */
  transform: scale(1.02);
  font-weight: bold;
}
.section {
  margin-top: 1rem;
}
.link {
  color: #007BFF;
  text-decoration: none;
  margin-left: 0.5rem;
  font-size: 1rem;
  display: inline-block;
  transition: all 0.3s ease;
  transform-origin: center;
}
.link:hover {
  color: #0056b3;
  font-weight: bold;
  transform: scale(1.06);
}
.error {
  color: red;
  margin-top: 10px;
}
.success {
  color: green;
  margin-top: 10px;
}